{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div id="code-of-conduct">
  <div id="title">
    <p class="font-italic font-weight-light"><small>Version 2025-01-12</small></p>
    <h1 class="text-center">Cosy Polyamory Community Code of Conduct</h1>
  </div>
  <div id="intro" class="row">
    <div class="col-xxl-4">
      <p>Cosy Polyamory Community (Cosy for short) is a diverse and welcoming group of respectful adults. It is a private group and membership is at the facilitators’ discretion.</p>
    </div>
    <div class="col-xxl-4">
      <p>This code of conduct applies to all Meetup events organized by Cosy and Cosy’s sister groups  (in person or online), as well as to communication between members within Cosy and Cosy’s chat channels (Telegram groups).</p>
    </div>
    <div class="col-xxl-4">
      <p>As a member of Cosy, you accept and agree to follow this code of conduct. If this code of conduct does not align with your reasons for joining Cosy, you are free to leave the group at any time.</p>
    </div>
</div>
  </div>
  <div id="does-and-donts" class="row">
    <div id="does-and-donts-do" class="col-xxl-6">
      <h2>DO</h2>
      <ol>
        <li>Respect everyone else’s personal space, consent and agency. Take silence as a <strong>NO</strong>.</li>

        <li>Report problematic behaviour to Events or Community Facilitators if you are affected by it or become aware of it.</li>
        <li>Be polite and respectful towards other members and their views and opinions.</li>
        <li>Practice inclusivity and avoid being condescending, dismissing others' opinions or discriminating against anybody on grounds of gender, nationality, age, or any other difference.</li>
        <li>Keep the content of conversations private. If you would like to share these conversations with people who were not involved, ask for consent from all involved parties.</li>
        <li>Be aware that Cosy chat groups are effectively a room full of people, most of whom you’ve never met: post with care and be mindful when bringing up controversial topics.</li>
      </ol>
    </div>
    <div id="does-and-donts-dont" class="col-xxl-6">
      <h2>DO NOT</h2>
      <ol>
        <li>Use Cosy as a dating service. Do not make your first conversation with other members about asking for a date or sex. Cosy is not a sex-focused or swingers community.</li>
        <li>Send a direct message to someone for the first time without having asked for their consent in person or in the community chat.</li>
        <li>Take photographs or recordings of anyone without prior explicit consent during events, whether in person or online.</li>
        <li>Share any stories with personal identifying information (name, nationality, sexual orientation, gender, hair colour, etc, as well as contact details, etc.) without explicit consent. Keep photos and other media private: being open about polyamory is not safe for some people.</li>
        <li>Have or join in with conversations that attack other members personally or insult their opinions. Disagreements are welcome as long as they are respectful and constructive.</li>
        <li>Shut down other members by monopolising the space with walls of text or very long verbal monologues, frequent interruptions, premature subject changes or other forms of dominating the conversation.</li>
        <li>Communicate about illegal activities in Cosy forums. Cosy may be required to cooperate with law enforcement if it becomes aware of any illegal activities that endanger others.</li>
      </ol>
    </div>
  </div>
  <div id="self-enforcement-and-conflict-resolution">
    <h2>Self-enforcement and conflict resolution</h2>
    <ol class="row">
      <ul class="col-xxl-5">Community self-enforcement – everyone should help to keep the community polite and respectful. Politely refer to community documents when people stray from the rules.</ul>
      <ul class="col-xxl-5">If a conflict cannot be resolved by the community, speak to the event host or to a moderator to learn more about the conflict resolution protocol.</ul>
    </ol>
  </div>
  <div id="summing-it-up">
    <p class="lead"><strong>Effectively, what we are saying here is: Be kind and respectful to all members and strive to treat others better than you would expect to be treated yourself.</strong></p>
  </div>
  <div id="violations">
    <h2>Members found to have violated the Code of Conduct may</h2>

    <ul>
      <li>Receive a warning</li>
      <li>Be suspended from events and/or chat groups for a period of time</li>
      <li>Be removed from the Cosy community</li>
    </ul>
    <p>Please see the <a href="/conflict-resolution">Conflict Resolution Protocol</a></p>
  </div>
  <div id="download" class="font-italic font-weight-light"><small>
    <h4>Download in PDF format</h4>
    <p><a href="static/pdf/Cosy Polyamory Community - Code of Conduct.pdf" target="_blank">
      Cosy Polyamory Community - Code of Conduct
    </a></p>
  </div>
  <div id="copyright" class="font-italic font-weight-light"><small>
    <h4>Copyright</h4>
    <p>This document has no copyright and is released under the Creative Commons 0 (public domain) dedication.</p>
    <p>Find out more here:
    <a href="https://creativecommons.org/publicdomain/zero/1.0/">https://creativecommons.org/publicdomain/zero/1.0/</a></p>
  </small></div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
