{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="row">
  <div class="col" id="contact">
      <h2>Contact Us</h2>
      <p>
      If you would like to get in touch with us, there are a few ways:
      </p>
      <ul>
          <li><b>If you are part of our community</b>: if you have been accepted to our Community Chat, please ask your question or leave a comment on that channel. If you would like to reach a specific team member, see our list of Telegram handles for each of our <a href="/structure#team">team members</a>.</li>
          <li><b>If you are not part of our community</b>: please join us in the <a target=”_blank” href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a> [link] and ask your question / leave your comment there.</li>
          <li><b>If you cannot use Telegram</b>: you can also send us a message via <a href="https://www.meetup.com/cosy-polyamory-community/">Meetup</a> but we really prefer to communicate via our Telegram chats.</li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col" id="logos">
  <!--<div class="row" style="margin-top: 2em;">-->
  <div class="row mt-2">
    <div class="col">
      <img src="/static/img/meetup.png" style="max-width: 100px" alt="meetup icon">
      <a href="https://www.meetup.com/cosy-polyamory-community/">Meetup page</a>
    </div>
    <div class="col">
      <img src="/static/img/telegram.svg" style="max-width: 90px" alt="telegram icon">
      <a target=”_blank” href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a>
    </div>
  </div>
  <div class="col" id="back-to-home">
    [ <a href="/">back to home page</a> ] 
  </div>
</div>

{% endblock%}
{% block scripts %}
{% endblock %}
