{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}
<div class="row" id="governance">
  <div id="governance-header">
    <h2>Cosy Polyamory Governance</h2>
  </div>
  <div class="col-xl-8" id="overview">
    <p>
        Cosy Polyamory operates as a representative organization and we enable those who actively contribute to the community: the Events Team. This team does most of the work and holds the most responsibility in our organization.
    </p>
    <p>
        The Events Team leader should guide the team by consensus. Instead of voting on community issues, we focus on careful discussions within the Events Team and work to build consensus around the topics at hand.
    </p>
    <p>
        We avoid excessive structure and overhead in small groups, recognizing that these can hinder community dynamics. We strive for a flat organizational structure, with minimal rules and communication channels. As our community grows and faces new challenges, we periodically review our structure and rules to ensure they meet our needs. We remind ourselves that nothing remains fixed – we can reform and improve our organization whenever necessary.
    </p>
  </div>
  <div class="col-xl-4" id="table-of-contents">
    <ul class="toc-list" role="list">
      <li>
        <a href="#structure-header">
          <span class="title">Community Structure</span>
        </a>
        <ul role="list">
          <li>
            <a href="#community-leader">
              <span class="title">Community Leader</span>
            </a>
          </li>
          <li>
            <a href="#events-team-leader">
              <span class="section">Events Team Leader</span>
            </a>
          </li>
          <li>
            <a href="#events-team-member">
              <span class="section">Events Team Member</span>
            </a>
          </li>
          <li>
            <a href="#information-team">
              <span class="section">Information Team</span>
            </a>
          </li>
        </ul>
        <li>
          <a href="#unexpected-situations">
            <span class="title">Unexpected Situations</span>
          </a>
        </li>
        <li>
          <a href="#communication">
            <span class="title">Communication</span>
          </a>
        </li>
        <li>
          <a href="#admission">
            <span class="title">Community Admission</span>
          </a>
        </li>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col" id="structure">
  </div>
</div>
<div class="row">
  <div class="col" id="unexpected-situations">
    <h3>
      <a class="back-to-top" href="#overview">⇧</a>
      Unexpected Situations
    </h3>
    <p>
        This governance document does not cover every possible situation – many unforeseen circumstances can arise within our community. Instead of detailing each one, we offer the following guidance for handling unknown situations:
    </p>
    <ul>
        <li>If a situation (conflict, problem) involves the Events Team Lead, the issue should be raised with the Community leader.</li>
        <li>If the situation does not involve the Events Team Lead (even if it involves the Community Leader), the issue should be raised with the Events Team Lead.</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col" id="communication">
    <h3>
      <a class="back-to-top" href="#overview">⇧</a>
      Communication
    </h3>
    <p>
        Communication stands as the cornerstone of a healthy community. To ensure ease and openness, we will use the following communication channels:
    </p>
    <ul>
        <li><b>Welcome Chat</b>: This chat serves as an introduction for newcomers and the public. It answers questions for those not yet admitted to the community.</li>
        <li><b>Community Chat</b>: This chat serves as the main space for the community. It welcomes all topics as long as members respect the Code of Conduct. We encourage off-topic discussions to help build connections.</li>
        <li><b>Organizers Chat</b>: This private chat serves only for community organizers to address sensitive issues, such as conflicts between members. We use this channel to resolve situations while protecting privacy for everyone involved.</li>
    </ul>
    <p>
        We choose Telegram for communication due to its privacy features. While WhatsApp is popular in Barcelona, it requires participants to share phone numbers with everyone in the chat, which compromises privacy. We will consider switching to a different platform if we find a better alternative.
    </p>
    <p>
      We aim to keep communication channels as simple as possible. Too many channels can overwhelm members and make the community feel inactive. We will expand channels only when a single channel becomes too crowded or when there’s a clear need.
    </p>
    <p>
  </div>
</div>
<div class="row">
  <div class="col" id="admission">
    <h3>
      <a class="back-to-top" href="#overview">⇧</a>
      Community Admission
    </h3>

    <p>
    We emphasize the importance of members understanding the <a href="/code-of-conduct">Code of Conduct</a>. When a newcomer signs up for the Cosy Polyamory Meetup, we send them a welcome email with questions to ensure they understand the Code of Conduct and the community values. If they answer the questions correctly, we add them to the Meetup group to learn about upcoming events. However, we do not add them to the Community Chat right away.
    </p>
    <p>
        Once the newcomer attends an event without violating the Code of Conduct, we invite them to the Community Chat, making them a full member of the community.
    </p>
    <p>
        Any Events Team member can review a newcomer’s application. If they answer the questions satisfactorily and no concerns arise, the member adds them to the Meetup group. If something seems off, the Events Team discusses how to proceed. After attending an event and following the Code of Conduct, the newcomer receives an invite to the Community Chat.
    </p>
    <p>
        Throughout this process, the Events Team keeps the newcomer informed about their application status, ensuring transparency.
    </p>
    </p>
    If you have any questions, please feel free to <a href="/contact">contact us</a>.
    </p>
    <p>
  </div>
</div>
<div class="col" id="back-to-home">
  [ <a href="/">back to home page</a> ] 
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
