{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="page-content h-100">
<div class="row">
    <div class="col-3">
    </div>

    <div class="col-6">
        <h2>Welcome to the Cosy Polyamory Community!</h2>

        <p>
        Our community is focused on <a href="https://en.wikipedia.org/wiki/Polyamory">polyamory</a> / <a href="https://en.wikipedia.org/wiki/Non-monogamy">ethical non-monogamy</a> and aims to hold events that let people learn about polyamory and meet other people who practice polyamory. Our goal is to create a kind and curious community of people who wish to take part ownership in the community. We want to embrace policies that give participants the power to participate as they see fit while creating an environment focused on member safety that is free of predatory members.
        </p>
        <p>
In our community we value fairness, equality and transparency. Our members actively participate in the community, whether they put on events, participate in discussions or participate in ensuring that the community is friendly and cosy. We would like our community to have an atmosphere of saying yes, where as long as member’s safety and cosiness are ensured, we strive to say yes to make interesting events happen.
        </p>
        <p>
We pledge to be open and to share control over the necessary tools to make our community safe and cosy. We want to enable as many community members as possible to help out with running the community and holding events; we would like to avoid single points of control that restrict and constrain the community.
        </p>
        <p>
Our events include social gatherings where we can meet like minded people, book clubs, hiking events, walks and beach events (when there is nice weather). We’re open to other types of events as well, as anyone can propose events in our community.
        </p>
        <p>
We’d love to have you, please join our community and let us know what interests you!
        </p>


        <h3>Becoming a member of the community</h3>

        <p>
        If you are interested in joining our community, first please join our <a href="https://www.meetup.com/g/cosy-polyamory-community/">meetup page</a>. Once you’ve signed up, we will send you a welcome email with some questions about our <a href="/code-of-conduct">Code of Conduct</a>. Please read the Code of Conduct and respond with your answers and if our team is satisfied that you understand the code of conduct, you’ll be added to the Meetup group.
        </p>
        <p>
            From the meetup group you’ll be able to see what events we’re holding. Attend an event and meet some of our members and introduce yourself to the event organizer. It will be up to the event organizer to add you to our Telegram Community Chat after the event. We prefer to meet people in real life before adding them to our main Community Chat, to ensure that new members meet our basic guidelines for becoming members.
        </p>
        <p>
        If you have questions about this process, or the events, we invite you to join our <a href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a> where our team members will be present. You can ask questions about our policies and events in this chat, but please wait to engage in deeper polyamory discussions until you join the Community Chat.
        </p>

        <h3>Our Team</h3>

        <table class="table">
        <tr>
            <td>Community Leader</td>
            <td>Manuel S</td>
        </tr>
        <tr>
            <td>Events Team Leader</td>
            <td>Kirsten T</td>
        </tr>
        <tr>
            <td>Events Team</td>
            <td>Manuel S</td>
        <tr>
            <td></td>
            <td>Robert K</td>
        </tr>

        <tr>
            <td>Information Team</td>
            <td>Manuel S</td>
        <tr>
            <td></td>
            <td>Robert K</td>
        </tr>
        </table>


        <h3>Our rules</h3>

        <p>
            In order to have a healthy community, we need some fundamental rules of how the community should work:
        </p>

        <ul>
          <li><a href="/code-of-conduct">Code of Conduct</a></li>
          <li><a href="/conflict-resolution">Conflict Resolution Protocol</a></li>
        </ul>

        <p>
            Before joining our community we strongly request that you read at least our Code of Conduct!
        </p>

        <h3>Links</h3>

        <ul>
          <li><a target=”_blank” href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a></li>
          <li><a href="https://www.meetup.com/g/cosy-polyamory-community/">meetup page</a></li>
        </ul>

    </div>
    <div class="col-3 logo" style="text-align: center">
        <img style="width: 80%" src="/static/img/cosypolyamory.org.svg">
    </div>
</div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
