{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="h-100">
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col inner-margin">
              <div id="welcome">
                <h1 id=header-title>Welcome to the Cosy Polyamory Community!</h1>
                <p>
                    We are a welcoming space for people exploring <a href="https://en.wikipedia.org/wiki/Polyamory">polyamory</a> / <a href="https://en.wikipedia.org/wiki/Non-monogamy">ethical non-monogamy</a> mostly based in Barcelona. Our community hosts events where you can learn more about polyamory, meet like-minded individuals, and build connections in a safe and friendly environment.
                </p>
              </div>
              <div id="intro">
                <p>
                Our <a href="/values">core values are fairness, equality, and transparency</a>. We encourage members to participate in ways that feel comfortable—whether that’s attending events, sharing ideas, or helping to create a cosy, inclusive atmosphere. Together, we strive to support one another and say <b>yes</b> to opportunities that bring us closer as a community.
                </p>
                <p>
                    Our events include social gatherings, book clubs, hikes, beach outings, and more, mostly in Barcelona. We’re always open to new ideas, and members are encouraged to propose events that interest them.
                </p>
              </div>
              <div id="how-to-member">
                <h2 class="header-paragraph">Becoming a member of the community</h2>
                <p>
                    Please sign up on our <a href="https://www.meetup.com/cosy-polyamory-community/">Meetup</a> page. Once you’ve joined, you’ll receive a welcome email with our <a href="/code-of-conduct">Code of Conduct</a>. Read the Code of Conduct fully and then answer a few simple questions to confirm that you've read it.
                </p>
                <p>
                    Once approved, you’ll gain access to our Meetup group, where you can RSVP to events and meet members. After attending an event, the organizer may invite you to join our main Telegram Community Chat. Meeting in person helps us ensure a safe and welcoming environment for all.
                </p>
                <p>
                    If you have questions, please join our <a href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a> to connect with our team, ask about our policies, or learn more about upcoming events.
                </p>
                <p>
                    We’re excited to meet you and welcome you to our cosy community!
                </p>
              </div>
              <div id="team">
                <h2 class="header-paragraph">Our Team</h2>

                <p>
                    Our current team members are:
                </p>

                <table class="table">
                <tr>
                    <th>Position</td>
                    <th>Person</td>
                    <th>Telegram Handle</td>
                </tr>
                <tr>
                    <td>Community Leader</td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td>Events Team Leader</td>
                    <td>Kirsten T</td>
                    <td>@damselfish</td>
                </tr>
                <tr>
                    <td>Events Team</td>
                    <td>Anna S</td>
                    <td>@annoushka_bcn</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Robert K</td>
                    <td>@mayhemchaos</td>
                </tr>
                <tr>
                    <td>Information Team</td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Robert K</td>
                    <td>@mayhemchaos</td>
                </tr>
                </table>
              </div>
              <div id="links">
                <h2 class="header-paragraph">Links</h2>

                <p>
                Here are some link to relevant Cosy resources:
                </p>

                <ul>
                  <li><a target=”_blank” href="https://t.me/+zHxhD4z5R31hYThi">Telegram Welcome Chat</a></li>
                  <li><a href="https://www.meetup.com/cosy-polyamory-community/">Meetup page</a></li>
                  <li><a href="/values">Our Community Values</a></li>
                  <li><a href="/governance">How we are organized: Governance</a></li>
                </ul>
              </div>
            </div>
            <div class="col logo" style="max-width: 250px;">
              <img src="/static/img/cosypolyamory.org.svg" alt="Cosy Polyamory Hearth-plus-Infinite-shaped Logo" width=75%>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
