{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="h-100">
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col inner-margin">
              <div class=team>
                <h3>Our Team</h3>
                <p>
                    Our current team members are:
                </p>

                <table class="table">
                <tr>
                    <th>Position</td>
                    <th>Person</td>
                    <th>Telegram Handle</td>
                </tr>
                <tr>
                    <td>Community Leader</td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td>Events Team Leader</td>
                    <td>Kirsten T</td>
                    <td>@damselfish</td>
                </tr>
                <tr>
                    <td>Events Team</td>
                    <td>Anna S</td>
                    <td>@annoushka_bcn</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Robert K</td>
                    <td>@mayhemchaos</td>
                </tr>
                <tr>
                    <td>Information Team</td>
                    <td>Manuel S</td>
                    <td>@Salomanuel</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Robert K</td>
                    <td>@mayhemchaos</td>
                </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
