{%- extends 'base.html' -%}
{%- block title -%}home{% endblock %}
{%- block content -%}

<div class="h-100">
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-9 inner-margin">

                <h2>Cosy Polyamory Values</h2>
    
                <p>
                Our main goal with the Cosy Polyamory Community is to foster a kind and curious community for people who practice Polyamory / Ethical non-monogamy. We’re going to focus on <b>member safety</b> with a carefully thought-out community admission process that aims to create a community free of predatory behaviours. Overall, we want our spaces, both online and physical, to be Cosy – we will want to attend events, feel safe and looked after. 
                <p>
                </p>
                The Cosy team values <b>fairness, non-discrimination, equality</b> and <b>transparency</b>. We’re going to manage the online community with these values in mind and we’re going to use this website to document our policies and who we are. 
                <p>
                </p>
                We would also like to create a community that works to <b>say yes</b>. Keeping in mind member safety and our Code of Conduct, we as a community should strive to enable people to participate in the way they see fit. Everyone in our community should be given the chance to prove themselves and their ideas.
                <p>
                </p>
                Our team is also creating an <b>atmosphere of sharing</b>; sharing responsibility, sharing access to our resources and sharing knowledge about how to contribute to our community. We’re going to strive to avoid any single point of control, where we always ensure that more than one person has access to all the resources and that decisions are being made with consideration of the input of others.
                <p>
                </p>
                Our goal is to build a community by <b>sharing responsibilities</b>, so that the burden of managing the community doesn’t fall on one person. Sharing responsibilities and encouraging community members to take an <b>active part</b> in shaping the community creates community engagement and a sense of belonging.
                <p>
                </p>
                If you have any questions, please feel free to <a href="/contact">contact us</a>.
                </p>
                <p>
                [ <a href="/">back to home page</a> ] 
                </p>
            </div>
            <div class="col logo" style="max-width: 250px;">
                <img style="width: 75%" src="/static/img/cosypolyamory.org.svg">
            </div>
        </div>
    </div>
</div>
</div>

{% endblock%}

{% block scripts %}
{% endblock %}
